.shop-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 25px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 130px;
    margin-bottom: 50px;
}