.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 17px;
}

.menu a:hover {
    color: orange;
}

.active {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}